/* ======================
   Class Header
====================== */

.callout[data-callout="class-header"] {
  --header-color: inherit;

  background: transparent;
  border: none;
  box-shadow: none;

  --callout-padding: 0;
  --callout-content-padding: 0;

  margin: 0;
}

.callout[data-callout="class-header"] > .callout-title {
  display: none;
}

.callout[data-callout="class-header"] > .callout-content {
  padding: 0;
}

/* Keep original heading sizes */
.callout[data-callout="class-header"] h1,
.callout[data-callout="class-header"] h2,
.callout[data-callout="class-header"] h3,
.callout[data-callout="class-header"] h4,
.callout[data-callout="class-header"] h5,
.callout[data-callout="class-header"] h6 {
  color: rgb(var(--header-color));
}

/* ======================
   Class Colors
====================== */

.callout[data-callout="class-header"][data-callout-metadata="artificer"] {
  --header-color: 196, 110, 43;
}


.callout[data-callout="class-header"][data-callout-metadata*="barbarian"] {
  --header-color: 193, 67, 67;
}

.callout[data-callout="class-header"][data-callout-metadata*="bard"] {
  --header-color: 170, 90, 210;
}

.callout[data-callout="class-header"][data-callout-metadata*="cleric"] {
  --header-color: 220, 190, 105;
}

.callout[data-callout="class-header"][data-callout-metadata*="druid"] {
  --header-color: 90, 145, 85;
}

.callout[data-callout="class-header"][data-callout-metadata*="fighter"] {
  --header-color: 160, 95, 65;
}

.callout[data-callout="class-header"][data-callout-metadata*="monk"] {
  --header-color: 85, 170, 165;
}

.callout[data-callout="class-header"][data-callout-metadata*="paladin"] {
  --header-color: 230, 175, 70;
}

.callout[data-callout="class-header"][data-callout-metadata*="ranger"] {
  --header-color: 95, 150, 80;
}

.callout[data-callout="class-header"][data-callout-metadata*="rogue"] {
  --header-color: 120, 120, 120;
}

.callout[data-callout="class-header"][data-callout-metadata*="sorcerer"] {
  --header-color: 190, 80, 150;
}

.callout[data-callout="class-header"][data-callout-metadata*="warlock"] {
  --header-color: 120, 80, 180;
}

.callout[data-callout="class-header"][data-callout-metadata*="wizard"] {
  --header-color: 75, 120, 200;
}