:root {
    /* Radius */
    --aeth-radius-s: 6px;

    /* Light Theme Header Colors */
    --aeth-h1-light: #477796;
    --aeth-h2-light: #477796;
    --aeth-h3-light: #477796;
    --aeth-h4-light: #477796;
    --aeth-h5-light: #477796;
    --aeth-h6-light: #477796;

    /* Dark Theme Header Colors */
    --aeth-h1-dark: #5E8AA6;
    --aeth-h2-dark: #5E8AA6;
    --aeth-h3-dark: #5E8AA6;
    --aeth-h4-dark: #5E8AA6;
    --aeth-h5-dark: #5E8AA6;
    --aeth-h6-dark: #5E8AA6;

    /* Table Headers */
    --aeth-table-header-light: #7EA6BF;
    --aeth-table-header-dark: #5E8AA6;
}